  <!doctype html>
<html ng-app="ngBootstrapApp">
	<head>

  	<!-- CSS
  	============================================================================== -->
  	<!-- Base dependencies -->
  	
  	<link rel="stylesheet" type="text/css" href="./bower_components/angular-material/angular-material.css">
  	<link rel="stylesheet" type="text/css" href="./bower_components/angular-material/themes/indigo-theme.css">
  	<link rel="stylesheet" type="text/css" href="./bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://material.angularjs.org/docs.css">


  	<!-- JavaScript
  	============================================================================== -->
  	<!-- Base dependencies -->
    <script src="./bower_components/hammerjs/hammer.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-material/angular-material.min.js"></script>
  	<script src="./bower_components/angular-animate/angular-animate.min.js"></script>
  	<script src="./bower_components/angular-aria/angular-aria.min.js"></script>

  	<!-- Base JavaScript File -->
    <script src="./js/demo-build.js"></script>

    <!-- Controllers -->
    <script src="./js/controllers/appCtrl.js"></script>

	</head>

<body layout="vertical" layout-fill class="" ng-controller="AppCtrl">

  <!-- Header -->
  <header>
  	<md-toolbar scroll-shrink md-theme="indigo">
  		<div class="md-toolbar-tools">
        <div flex="85">
          <h3>
            <span>Sample Application</span>
          </h3>
        </div>
        <div flex="" hide-md>
          <i class="fa fa-bars fa-2x" ng-click="open()" hide-md></i>
        </div>
      </div>
	  </md-toolbar>
  </header>

  <!-- Main Content Area -->
  <div flex layout="vertical" layout-sm="horizontal">
    
    <!-- Side Nav -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" component-id="left" is-locked-open="$media('md')">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      
      <md-content class="md-padding" ng-controller="LeftCtrl">
        <p hide show-md>
          <ul>
            <li>Menu Item</li>
            <li>Menu Item</li>
            <li>Menu Item</li>
            <li>Menu Item</li>
          </ul>
        </p>
      </md-content>
    </md-sidenav>    
    <!-- Main Content -->

    <main flex layout="row">
        <md-content ng-controller="AppCtrl">
          
          <div layout="row" layout-tablet-landscape="column" layout-phone="column" layout-padding>
          
            <div flex-pc="50" ng-repeat="project in projects">
              <div>
                <md-card>
                    <md-list>
                      <md-item>
                        <md-item-content>
                          <div layout="column">
                            <div>
                              <img src="{{project.logo}}" class="md-card-image" alt="{{project.organization}}" />
                            </div>
                            <div>
                              <md-content>
                                <div class="md-tile-content">
                                  <h3>{{project.organization}}</h3>
                                  <h4>{{project.position}}</h4>
                                  <p>
                                    {{project.description}}
                                  </p>
                                  <div class="md-tile-content accomplishments">
                                  <h4>Accomplishments</h4>
                                    <md-list>
                                      <md-item ng-repeat="accomplishment in project.accomplishments">
                                        <md-item-content>
                                          <p>{{accomplishment.label}}</p>
                                        </md-item-content>
                                      </md-item>
                                    </md-list>
                                  </div>
                                </div>
                              </div>
                            </md-content>
                          </div>
                        </md-item-content>
                      </md-item>
                    </md-list>
                </md-card>
              </div>
            
            </div>
            
          </div>
        </md-content>
    </main>

  </div>

  <footer>
    
  </footer>
</body>
</html>